.myPosts {
  padding: 10px;
}

.date {
  color: deeppink;
}

.inputBlock {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

.inputBlock textarea {
  height: 150px;
  width: 50%;
  padding: 15px;
  font-size: 18px;
  resize: none;
}

.inputBlock button {
  height: 50px;
  width: 20%;
  padding: 15px;
  font-size: 18px;
}