.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.items {
  background-color: forestgreen;
  padding: 10px;
}

.item {
  font-size: 18px;
  color: deepskyblue;
  text-decoration: none;
}

.active {
  color: red;
}

.messages {
  background-color: darkviolet;
  padding: 10px;
}

.inputBlock {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.inputBlock textarea {
  resize: none;
  padding: 15px;
  font-size: 18px;
}